# serverless.yml

service: nwassik-store

frameworkVersion: "4"

plugins:
  - serverless-python-requirements

package:
  patterns: # Let's keep it minimalistic, maybe I will change it later
    - "src/"
    - ".gitignore"
    - "README.md"
    - "requirements.txt"
    - "serverless.yaml"
    - "!venv/**" # ← Explicitly exclude venv
    - "!node_modules/**" # ← Explicitly exclude node_modules
    - "!__pycache__/**" # ← Explicitly exclude pycache

custom:
  pythonRequirements:
    usePoetry: false
    dockerizePip: true # <<--- build wheels in Docker (required for compiled deps as I am on MacOS)
    useStaticCache: false # ← Disable cache

    dockerBuildCmd: |
      pip install \
        --platform manylinux2014_x86_64 \
        --target /var/task \
        --implementation cp \
        --python-version 3.11 \
        --only-binary=:all: \
        --upgrade \
        -r requirements.txt

  dynamodbTableName: ${self:service}-dynamodb-${sls:stage}

provider:
  name: aws
  runtime: python3.11
  region: eu-west-3
  stage: NotToUseStage
  environment:
    STAGE: ${sls:stage}
    DYNAMODB_TABLE: ${self:custom.dynamodbTableName}
    COGNITO_USER_POOL_ID:
      Ref: CognitoUserPool
    COGNITO_USER_POOL_CLIENT_ID:
      Ref: CognitoUserPoolClient

  # TODO: Upgrade all http with httpApi for single place CORS with API Gateway V2
  # httpApi:
  #   cors: true # ← Central CORS for ALL endpoints
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:* # FIXME: too permissive
          Resource:
            - "arn:aws:dynamodb:${aws:region}:${aws:accountId}:table/${self:custom.dynamodbTableName}"
functions:
  # -----------------------------------------------------------------------------
  # HEALTH CHECK
  # -----------------------------------------------------------------------------
  healthCheck:
    handler: src/handlers/health/check.health_check
    events:
      - http:
          path: /health
          method: get

  # -----------------------------------------------------------------------------
  # REQUESTS
  # -----------------------------------------------------------------------------
  # FIXME: CORS is enabled from everywhere, please be explicit and specific or remove it
  listRequests:
    handler: src/handlers/requests/list.list_requests
    events:
      - http:
          path: /requests
          method: get
          cors: true

  createRequest:
    handler: src/handlers/requests/create.create_request
    events:
      - http:
          path: /requests
          method: post
          cors: true
          authorizer:
            type: COGNITO_USER_POOLS
            authorizerId:
              Ref: ApiGatewayCognitoAuthorizer

  getRequest:
    handler: src/handlers/requests/get.get_request
    events:
      - http:
          path: /requests/{request_id}
          method: get
          cors: true

  deleteRequest:
    handler: src/handlers/requests/delete.delete_request
    events:
      - http:
          path: /requests/{request_id}
          method: delete
          cors: true
          authorizer:
            type: COGNITO_USER_POOLS
            authorizerId:
              Ref: ApiGatewayCognitoAuthorizer

  listMyRequests:
    handler: src/handlers/requests/mine.list_my_requests
    events:
      - http:
          path: /requests/mine
          method: get
          cors: true
          authorizer:
            type: COGNITO_USER_POOLS
            authorizerId:
              Ref: ApiGatewayCognitoAuthorizer

# -----------------------------------------------------------------------------
# RESOURCES
# -----------------------------------------------------------------------------
resources:
  Resources:
    # --------- DynamoDB service structured data persistence -------------------
    RequestsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.dynamodbTableName}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: request_id
            AttributeType: S
          - AttributeName: gsi_pk
            AttributeType: S
          - AttributeName: gsi_sk
            AttributeType: S
        KeySchema:
          - AttributeName: request_id
            KeyType: HASH
        GlobalSecondaryIndexes:
          - IndexName: GSI_DueDate
            KeySchema:
              - AttributeName: gsi_pk
                KeyType: HASH
              - AttributeName: gsi_sk
                KeyType: RANGE
            Projection:
              ProjectionType: ALL # TODO: Probably Should change that to INCLUDE with only necessary fields

    # --- Cognito user pool -----------------------
    CognitoUserPool:
      Type: AWS::Cognito::UserPool
      Properties:
        UserPoolName: ${self:service}-cognito-userpool-${sls:stage}
        AutoVerifiedAttributes:
          - email
        # TODO: Product decision maybe we should add also phone number as a username
        UsernameAttributes:
          - email
        Policies:
          # FIXME: Policy too permissive
          PasswordPolicy:
            MinimumLength: 5
            RequireLowercase: false
            RequireNumbers: false
            RequireSymbols: false
            RequireUppercase: false

    # --- Cognito user pool client-----------------------
    CognitoUserPoolClient:
      Type: AWS::Cognito::UserPoolClient
      Properties:
        ClientName: ${self:service}-cognito-userpool-client-${sls:stage}
        UserPoolId:
          Ref: CognitoUserPool
        GenerateSecret: false
        ExplicitAuthFlows:
          - ALLOW_USER_PASSWORD_AUTH
          - ALLOW_REFRESH_TOKEN_AUTH
          - ALLOW_USER_SRP_AUTH

        # TODO: Probably should add Google and Facebook as the only Social Providers in addition to cognito
        SupportedIdentityProviders:
          - COGNITO

    # --- API Gateway authorizer (REST API v1) ----
    ApiGatewayCognitoAuthorizer:
      Type: AWS::ApiGateway::Authorizer
      Properties:
        Name: ${self:service}-cognito-authorizer-${sls:stage}
        Type: COGNITO_USER_POOLS
        RestApiId:
          Ref: ApiGatewayRestApi
        IdentitySource: method.request.header.Authorization # This is the Authorization header
        ProviderARNs:
          - Fn::GetAtt:
              - CognitoUserPool
              - Arn
