# serverless.yml

service: nwassik-store

frameworkVersion: "4"

plugins:
  # NOTE: By default, Serverless doesn’t know how to bundle Python packages
  - serverless-python-requirements

package:
  patterns: # import the bare minimum (minimalistic)
    - "src/"
    - "README.md"
    - "requirements.txt"
    - "serverless.yaml"
    - "!.gitignore"
    - "!venv/**" # ← Explicitly exclude venv
    - "!node_modules/**" # ← Explicitly exclude node_modules
    - "!__pycache__/**" # ← Explicitly exclude pycache
custom:
  # NOTE: exact keyword needed by "serverless-python-requirements" plugin
  pythonRequirements:
    usePoetry: false
    dockerizePip: true # <<--- build wheels in Docker (required for compiled deps as I am on MacOS)
    useStaticCache: false # ← Disable cache

    dockerBuildCmd: |
      pip install \
        --platform manylinux2014_x86_64 \
        --target /var/task \
        --implementation cp \
        --python-version 3.11 \
        --only-binary=:all: \
        --upgrade \
        -r requirements.txt

provider:
  name: aws
  runtime: python3.11
  region: eu-west-3
  stage: NotToUseStage
  environment:
    STAGE: ${sls:stage} # used in Python code to detect Lambda stage
    DATABASE_SECRET_NAME: "rds!nwassik-${sls:stage}-app-db-secret" # Secrets Manager secret
    MAX_USER_CREATED_REQUESTS: 20
    MAX_USER_CREATED_FAVORITES: 100
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - secretsmanager:GetSecretValue
          Resource: arn:aws:secretsmanager:eu-west-3:689688455606:secret:rds!nwassik-${sls:stage}-app-db-secret

functions:
  # -----------------------------------------------------------------------------
  # HEALTH CHECK
  # -----------------------------------------------------------------------------
  healthCheck:
    handler: src/handlers/health/check.health_check
    events:
      - http:
          path: /health
          method: get

  # -----------------------------------------------------------------------------
  # REQUESTS
  # -----------------------------------------------------------------------------
  # FIXME: CORS is enabled from everywhere, I need to make it explicit/specific or remove it
  listRequests:
    handler: src/handlers/requests/list.list_requests
    events:
      - http:
          path: /requests
          method: get
          cors: true

  createRequest:
    handler: src/handlers/requests/create.create_request
    events:
      - http:
          path: /requests
          method: post
          cors: true

  getRequest:
    handler: src/handlers/requests/get.get_request
    events:
      - http:
          path: /requests/{request_id}
          method: get
          cors: true

  listUserRequests:
    handler: src/handlers/requests/list_user_requests.list_user_requests
    events:
      - http:
          path: /users/{user_id}/requests
          method: get
          cors: true

  deleteRequest:
    handler: src/handlers/requests/delete.delete_request
    events:
      - http:
          path: /requests/{request_id}
          method: delete
          cors: true

  updateRequest:
    handler: src/handlers/requests/update.update_request
    events:
      - http:
          path: /requests/{request_id}
          method: patch
          cors: true

  # -----------------------------------------------------------------------------
  # FAVORITES
  # -----------------------------------------------------------------------------
  createFavorite:
    handler: src/handlers/favorites/create.create_favorite
    events:
      - http:
          path: /favorites
          method: post
          cors: true

  deleteFavorite:
    handler: src/handlers/favorites/delete.delete_request
    events:
      - http:
          path: /favorites/{favorite_id}
          method: delete
          cors: true

  listUserFavorites:
    handler: src/handlers/favorites/list.list_user_favorites
    events:
      - http:
          path: /favorites
          method: get
          cors: true
# -----------------------------------------------------------------------------
# RESOURCES
# -----------------------------------------------------------------------------
